In [50]:
import numpy as np
import pandas as pd
import csv,ast
import calendar
from pandas import DataFrame

In [55]:
vc= pd.read_csv('vehicle_collisions.csv')

new_vc = vc[['BOROUGH','VEHICLE 1 TYPE','VEHICLE 2 TYPE','VEHICLE 3 TYPE','VEHICLE 4 TYPE','VEHICLE 5 TYPE']].copy()
for borough in(new_vc[new_vc['BOROUGH'].notnull()]['BOROUGH'].unique()):
    manhattan=new_vc[new_vc['BOROUGH'] == borough]
    total=pd.isnull(manhattan)
    oneveh=((total['VEHICLE 1 TYPE'] == ast.literal_eval('False'))& (total['VEHICLE 2 TYPE'] == ast.literal_eval('True'))).sum()
    twoveh=((total['VEHICLE 1 TYPE'] == ast.literal_eval('False')) & (total['VEHICLE 2 TYPE'] == ast.literal_eval('False')) & (total['VEHICLE 3 TYPE'] == ast.literal_eval('True'))).sum()
    threeveh=((total['VEHICLE 1 TYPE'] == ast.literal_eval('False')) & (total['VEHICLE 2 TYPE'] == ast.literal_eval('False')) & (total['VEHICLE 3 TYPE'] == ast.literal_eval('False')) & (total['VEHICLE 4 TYPE'] == ast.literal_eval('True'))).sum()
    extraveh=len(total)-(oneveh+twoveh+threeveh)
    print(threeveh)

4498
4980
2024
1962
759

In [59]:

vc= pd.read_csv('vehicle_collisions.csv')

new_vc = vc[['BOROUGH','VEHICLE 1 TYPE','VEHICLE 2 TYPE','VEHICLE 3 TYPE','VEHICLE 4 TYPE','VEHICLE 5 TYPE']].copy()

d_trim = {'BOROUGH':[],'ONE_VEHICLE_INVOLVED':[],'TWO_VEHICLES_INVOLVED':[],'THREE_VEHICLES_INVOLVED':[],'MORE_VEHICLES_INVOLVED':[]}


        
for borough in(new_vc[new_vc['BOROUGH'].notnull()]['BOROUGH'].unique()):
    manhattan=new_vc[new_vc['BOROUGH'] == borough]
    total=pd.isnull(manhattan)
    oneveh=((total['VEHICLE 1 TYPE'] == ast.literal_eval('False'))& (total['VEHICLE 2 TYPE'] == ast.literal_eval('True'))).sum()
    twoveh=((total['VEHICLE 1 TYPE'] == ast.literal_eval('False')) & (total['VEHICLE 2 TYPE'] == ast.literal_eval('False')) & (total['VEHICLE 3 TYPE'] == ast.literal_eval('True'))).sum()
    threeveh=((total['VEHICLE 1 TYPE'] == ast.literal_eval('False')) & (total['VEHICLE 2 TYPE'] == ast.literal_eval('False')) & (total['VEHICLE 3 TYPE'] == ast.literal_eval('False')) & (total['VEHICLE 4 TYPE'] == ast.literal_eval('True'))).sum()
    extraveh=len(total)-(oneveh+twoveh+threeveh)

    d_trim['BOROUGH'].append(borough)
    d_trim['ONE_VEHICLE_INVOLVED'].append(oneveh)
    d_trim['TWO_VEHICLES_INVOLVED'].append(twoveh)
    d_trim['THREE_VEHICLES_INVOLVED'].append(threeveh)
    d_trim['MORE_VEHICLES_INVOLVED'].append(extraveh)

            
df = DataFrame(d_trim, columns=['BOROUGH','ONE_VEHICLE_INVOLVED','TWO_VEHICLES_INVOLVED','THREE_VEHICLES_INVOLVED','MORE_VEHICLES_INVOLVED'])
df.to_csv('Que1Part2.csv')
df.head()

,BOROUGH,ONE_VEHICLE_INVOLVED,TWO_VEHICLES_INVOLVED,THREE_VEHICLES_INVOLVED,MORE_VEHICLES_INVOLVED
0,QUEENS,12962,70260,4498,1935
1,BROOKLYN,17375,80207,4980,2399
2,MANHATTAN,13318,66958,2024,1302
3,BRONX,8627,34385,1962,1150
4,STATEN ISLAND,2343,10676,759,270