In [81]:
import numpy as np
import pandas as pd
import csv
import calendar
from pandas import DataFrame

Collisions = pd.read_csv('vehicle_collisions.csv')

d_trim = {'MONTH':[],'MANHATTAN':[],'NYC':[],'PERCENTAGE':[]}


for a in range(1,13):
    
    year=Collisions[(Collisions['BOROUGH'] =="MANHATTAN") & (Collisions['DATE'].apply(lambda x:x.split("/")[2]) == "16") ]
    new_york=((Collisions['DATE'].apply(lambda x:x.split("/")[2]) == "16") & (Collisions['DATE'].apply(lambda x:x.split("/")[0]) == str(a))).sum()
    manhattan=(year['DATE'].apply(lambda x:x.split("/")[0]) == str(a)).sum()
    percentage=(manhattan/new_york).round(2)
    
    d_trim['MONTH'].append(calendar.month_name[int(a)])
    d_trim['MANHATTAN'].append(manhattan)
    d_trim['NYC'].append(new_york)
    d_trim['PERCENTAGE'].append(percentage)
        

        
df = DataFrame(d_trim, columns=['MONTH','MANHATTAN','NYC','PERCENTAGE'])
df.to_csv('Que1Part1.csv')
df.head()

      MONTH  MANHATTAN    NYC  PERCENTAGE
0   January       3178  18101        0.18
1  February       3195  15985        0.20
2     March       3479  18471        0.19
3     April       3540  18331        0.19
4       May       3432  20052        0.17