In [1]:
import time
import datetime 
from datetime import datetime
%matplotlib inline
from matplotlib import pyplot as plt
import csv
import numpy as np
import pandas as pd
import nltk
import plotly.plotly as py

In [2]:
import plotly.plotly as py
import pandas as pd

df_airports = pd.read_csv('C:/Users/pruth/Desktop/Datasets/flights.csv/airports.csv')


df_flight_paths =pd.read_csv('C:/Users/pruth/Desktop/Datasets/flights.csv/flights.csv',low_memory=False)
df_flight_paths.head(2)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df_airlines = pd.read_csv('C:/Users/pruth/Desktop/Datasets/flights.csv/airlines.csv')

In [4]:
airline_Tout = pd.DataFrame({'taxi_out_time' : df_flight_paths.groupby(['AIRLINE'])['TAXI_OUT'].mean()}).reset_index()
airline_Tin = pd.DataFrame({'taxi_in_time' : df_flight_paths.groupby(['AIRLINE'])['TAXI_IN'].mean()}).reset_index()

In [22]:
airlines_in = airline_Tin.merge(df_airlines,how='left', left_on='AIRLINE', right_on='IATA_CODE')

airlines_out = airline_Tout.merge(df_airlines,how='left', left_on='AIRLINE', right_on='IATA_CODE')

airlines_in.head()

  AIRLINE_x  taxi_in_time IATA_CODE                    AIRLINE_y
0        AA      8.876172        AA       American Airlines Inc.
1        AS      6.401667        AS         Alaska Airlines Inc.
2        B6      6.121373        B6              JetBlue Airways
3        DL      7.209058        DL         Delta Air Lines Inc.
4        EV      7.635511        EV  Atlantic Southeast Airlines

In [23]:

airlines_in.drop(['AIRLINE_x','IATA_CODE'],axis=1,inplace=True)
airlines_out.drop(['AIRLINE_x','IATA_CODE'],axis=1,inplace=True)

In [24]:
airlines_in.head()

   taxi_in_time                    AIRLINE_y
0      8.876172       American Airlines Inc.
1      6.401667         Alaska Airlines Inc.
2      6.121373              JetBlue Airways
3      7.209058         Delta Air Lines Inc.
4      7.635511  Atlantic Southeast Airlines

In [27]:
airlines_inout = airlines_out.merge(airlines_in,how='left', left_on='AIRLINE_y', right_on='AIRLINE_y')

In [61]:
airlines_inout

    taxi_out_time                     AIRLINE_y  taxi_in_time
0       17.769170        American Airlines Inc.      8.876172
1       15.093937          Alaska Airlines Inc.      6.401667
2       17.872453               JetBlue Airways      6.121373
3       17.608081          Delta Air Lines Inc.      7.209058
4       16.736971   Atlantic Southeast Airlines      7.635511
5       15.674198        Frontier Airlines Inc.      9.147244
6       10.953551        Hawaiian Airlines Inc.      6.841194
7       16.549323  American Eagle Airlines Inc.      9.084096
8       14.604656              Spirit Air Lines      9.556557
9       18.146070         Skywest Airlines Inc.      6.933260
10      17.414003         United Air Lines Inc.      8.508092
11      19.006858               US Airways Inc.      7.631978
12      14.755854                Virgin America      8.186914
13      11.943682        Southwest Airlines Co.      6.167662

In [34]:
import plotly.plotly as py
import cufflinks as cf
import pandas as pd
import numpy as np

cf.set_config_file(offline=False, world_readable=True, theme='ggplot')

df = airlines_inout
df.iplot(kind='bar', barmode='stack',x='AIRLINE_y',y = (['taxi_in_time','taxi_out_time']), yTitle='Minutes', xTitle='Airlines', title='Taxi In and Out time',size=(14,7))

# The figure an be seen in Part5plot1.png

# This concludes that Hawaiian Airlines has minimum taxi in and out time where as US airways has maximum.

# One more interesting observation is that in earlier analysis we showed that Southwest airlines has maximum number of delays and which might be the cause for the second best taxi in and out time for the Southwest Airlinrs

In [47]:
df_flight_paths['Airline_Speed'] = 60*df_flight_paths['DISTANCE']/df_flight_paths['AIR_TIME']

In [48]:
df_flight_paths['Airline_Speed'].head()

0    514.082840
1    531.558935
2    517.894737
3    544.651163
4    436.582915
Name: Airline_Speed, dtype: float64

In [49]:
airline_speed = df_flight_paths.filter(['AIRLINE','Airline_Speed'], axis=1)

In [60]:
speed = pd.DataFrame({'Airline_Speed' : airline_speed.groupby(['AIRLINE'])['Airline_Speed'].mean()}).reset_index()
speed_desc = speed.merge(df_airlines,how='left', left_on='AIRLINE', right_on='IATA_CODE')
speed_desc.drop(['AIRLINE_x','IATA_CODE'],axis=1,inplace=True)
speed_desc

    Airline_Speed                     AIRLINE_y
0      427.679334        American Airlines Inc.
1      435.510696          Alaska Airlines Inc.
2      419.569835               JetBlue Airways
3      419.433004          Delta Air Lines Inc.
4      364.683738   Atlantic Southeast Airlines
5      441.259284        Frontier Airlines Inc.
6      343.748564        Hawaiian Airlines Inc.
7      360.899443  American Eagle Airlines Inc.
8      436.499865              Spirit Air Lines
9      368.598815         Skywest Airlines Inc.
10     446.753151         United Air Lines Inc.
11     411.108496               US Airways Inc.
12     435.403337                Virgin America
13     415.197481        Southwest Airlines Co.

In [59]:
speed_desc.iplot(x='AIRLINE_y',size=(14,7), yTitle='Speed in MPH', xTitle='Airlines',title='Speed for different Airline')

# Part5Plot2.PNG

# We can state that United Airline is the fastest with highest average Speed where as Hawaiian Airlines has the lowest average speed(in MPH)

In [70]:
pvt_scheduled_airline_date = df_flight_paths.pivot_table(index="MONTH",columns="AIRLINE",values="SCHEDULED_DEPARTURE",aggfunc=lambda x: x.count())
pvt_scheduled_airline_date.head()

AIRLINE,AA,AS,B6,DL,EV,F9,HA,MQ,NK,OO,UA,US,VX,WN
MONTH,,,,,,,,,,,,,,
1,44059.0,13257.0,21623.0,64421.0,49925.0,6829.0,6440.0,29900.0,8743.0,48114.0,38395.0,33489.0,4731.0,100042.0
2,39835.0,12194.0,19751.0,60884.0,45138.0,5809.0,5779.0,26940.0,8089.0,43989.0,36235.0,30153.0,4223.0,90172.0
3,45966.0,14276.0,22590.0,74166.0,54190.0,6950.0,6313.0,28146.0,9400.0,50078.0,43603.0,34516.0,4873.0,109245.0
4,44770.0,13974.0,22020.0,72170.0,49296.0,7148.0,6093.0,25695.0,9496.0,49329.0,41342.0,32496.0,4915.0,106407.0
5,44710.0,14682.0,22565.0,74815.0,49213.0,8118.0,6434.0,25431.0,10051.0,49864.0,44411.0,33761.0,5236.0,107702.0

In [67]:

import plotly.plotly as py
import pandas as pd

df = df_airports
df.head()


df['text'] = df['AIRPORT'] + '' + df['CITY'] + ', ' + df['STATE'].astype(str)

scl = [ [0,"rgb(5, 10, 172)"],[0.35,"rgb(40, 60, 190)"],[0.5,"rgb(70, 100, 245)"],\
    [0.6,"rgb(90, 120, 245)"],[0.7,"rgb(106, 137, 247)"],[1,"rgb(220, 220, 220)"] ]

data = [ dict(
        type = 'scattergeo',
        locationmode = 'USA-states',
        lon = df['LONGITUDE'],
        lat = df['LATITUDE'],
        text = df['text'],
        mode = 'markers',
        marker = dict(
            size = 8,
            opacity = 0.8,
            reversescale = True,
            autocolorscale = False,
            symbol = 'square',
            line = dict(
                width=1,
                color='rgba(102, 102, 102)'
            ),
            colorscale = scl,
            cmin = 0,
            color = df['STATE'],
            cmax = df['STATE'].max(),
            colorbar=dict(
                title="Airports"
            )
        ))]

layout = dict(
        title = 'Airports around USA',
        colorbar = True,
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showland = True,
            landcolor = "rgb(250, 250, 250)",
            subunitcolor = "rgb(217, 217, 217)",
            countrycolor = "rgb(217, 217, 217)",
            countrywidth = 0.5,
            subunitwidth = 0.5
        ),
    )

fig = dict( data=data, layout=layout )
# py.image.save_as(fig, filename='Part2Plot.png')
py.iplot( fig, validate=False, filename='d3-airports' )

# Part5Plot3.PNG

# This image shows the Airports that are scattered around USA