In [6]:
import time
import datetime 
from datetime import datetime
%matplotlib inline
from matplotlib import pyplot as plt
import csv
import numpy as np
import pandas as pd
import nltk

In [5]:
import plotly.plotly as py
import pandas as pd

df_airports = pd.read_csv('C:/Users/pruth/Desktop/Datasets/flights.csv/airports.csv')


df_flight_paths =pd.read_csv('C:/Users/pruth/Desktop/Datasets/flights.csv/flights.csv',low_memory=False)
df_flight_paths.head(2)

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
flight_delay = df_flight_paths[['AIRLINE', 'ORIGIN_AIRPORT', 
                  'DESTINATION_AIRPORT', 'MONTH', 
                  'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 
                  'SECURITY_DELAY', 'DEPARTURE_DELAY',
                  'ARRIVAL_DELAY', 'AIR_SYSTEM_DELAY']]
flight_delay = flight_delay.fillna(0)
flight_delay['TOTAL_DELAY_AIRLINE'] = flight_delay['AIRLINE_DELAY']+ flight_delay['LATE_AIRCRAFT_DELAY']
flight_delay['TOTAL_DELAY_SOURCE_AIRPORT'] = flight_delay['SECURITY_DELAY'] + flight_delay['DEPARTURE_DELAY'] + flight_delay['AIR_SYSTEM_DELAY']
flight_delay['TOTAL_DELAY_DEST_AIRPORT'] = flight_delay['ARRIVAL_DELAY'] + flight_delay['AIR_SYSTEM_DELAY']
flight_delay.head()

,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,MONTH,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,SECURITY_DELAY,DEPARTURE_DELAY,ARRIVAL_DELAY,AIR_SYSTEM_DELAY,TOTAL_DELAY_AIRLINE,TOTAL_DELAY_SOURCE_AIRPORT,TOTAL_DELAY_DEST_AIRPORT
0,AS,ANC,SEA,1,0.0,0.0,0.0,-11.0,-22.0,0.0,0.0,-11.0,-22.0
1,AA,LAX,PBI,1,0.0,0.0,0.0,-8.0,-9.0,0.0,0.0,-8.0,-9.0
2,US,SFO,CLT,1,0.0,0.0,0.0,-2.0,5.0,0.0,0.0,-2.0,5.0
3,AA,LAX,MIA,1,0.0,0.0,0.0,-5.0,-9.0,0.0,0.0,-5.0,-9.0
4,AS,SEA,ANC,1,0.0,0.0,0.0,-1.0,-21.0,0.0,0.0,-1.0,-21.0

In [8]:
monthly_delays = flight_delay[['MONTH', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 
                         'SECURITY_DELAY', 'DEPARTURE_DELAY', 
                         'ARRIVAL_DELAY', 'AIR_SYSTEM_DELAY']].groupby('MONTH').mean().reset_index()
for delay_type in monthly_delays:
    if delay_type is not 'MONTH':
        a =monthly_delays[delay_type]

monthly_delaysnew = monthly_delays.drop('MONTH', axis=1)
monthly_delaysnew

,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,SECURITY_DELAY,DEPARTURE_DELAY,ARRIVAL_DELAY,AIR_SYSTEM_DELAY
0,3.634620,4.646838,0.014256,9.517399,5.653327,2.719451
1,3.990438,5.027873,0.010671,11.329804,7.903148,3.143526
2,3.606260,4.275310,0.013059,9.457096,4.801889,2.436771
3,3.072433,3.680168,0.007544,7.654192,3.124722,2.304493
4,3.356023,4.371331,0.011491,9.352639,4.418672,2.524486
5,4.557148,6.064406,0.014058,13.744597,9.391036,3.236511
6,3.881907,5.343355,0.013099,11.296039,6.353539,2.580005
7,3.564093,4.396331,0.023491,9.840240,4.547991,2.496598
8,2.531027,2.549036,0.012836,4.803558,-0.767930,1.691855
9,2.480662,2.456485,0.006253,4.958689,-0.775113,1.651079
10,2.903390,3.216122,0.018676,6.879811,1.087599,2.096822
11,3.956618,5.297920,0.021080,11.594714,5.971955,2.686526

In [147]:
import plotly.plotly as py

import pandas as pd
import numpy as np

df = monthly_delaysnew
py.plot([{
    'x': monthly_delays.MONTH,
    'y': df[col],
    'name': col,
}  for col in df.columns])

'https://plot.ly/~thakar.p/69'

# We can see the snapshot of the figure as Part3Plot.png

In [11]:
import nltk
from nltk import FreqDist
from collections import Counter

In [12]:
fdist = FreqDist(w for w in flight_delay['AIRLINE'])
fdist1 = Counter(fdist)
most_delayed_airline = fdist1.most_common()
most_delayed_airline

[('WN', 1261855),
 ('DL', 875881),
 ('AA', 725984),
 ('OO', 588353),
 ('EV', 571977),
 ('UA', 515723),
 ('MQ', 294632),
 ('B6', 267048),
 ('US', 198715),
 ('AS', 172521),
 ('NK', 117379),
 ('F9', 90836),
 ('HA', 76272),
 ('VX', 61903)]

In [13]:
with open('MaxdelayedAirline.csv', 'w') as csvfile:
    fieldnames = ['Airline', 'Number of Delays']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()
    for (a,z) in most_delayed_airline:
            writer.writerow({'Airline':a,'Number of Delays': z})

In [14]:
maxdel = pd.read_csv('MaxdelayedAirline.csv')
airlinename = pd.read_csv('C:/Users/pruth/Desktop/Datasets/flights.csv/airlines.csv')

In [15]:
airlines = maxdel.merge(airlinename,how='left', left_on='Airline', right_on='IATA_CODE')
airlines.drop('IATA_CODE',axis=1,inplace=True)
airlines.drop('Airline',axis=1,inplace=True)
airlines

    Number of Delays                       AIRLINE
0            1261855        Southwest Airlines Co.
1             875881          Delta Air Lines Inc.
2             725984        American Airlines Inc.
3             588353         Skywest Airlines Inc.
4             571977   Atlantic Southeast Airlines
5             515723         United Air Lines Inc.
6             294632  American Eagle Airlines Inc.
7             267048               JetBlue Airways
8             198715               US Airways Inc.
9             172521          Alaska Airlines Inc.
10            117379              Spirit Air Lines
11             90836        Frontier Airlines Inc.
12             76272        Hawaiian Airlines Inc.
13             61903                Virgin America

In [16]:
import cufflinks as cf
import pandas as pd

In [18]:
airlines.iplot(kind='pie',labels='AIRLINE',values='Number of Delays',pull=.2,hole=.2,title='Share of Airlines in Total delays')

# Part3Plot2.png

# Hover over the text for Details

# From this chart we can figure out the share of Airlines in total delays happened in 2015, most delays were caused with Southwest Airlines and least being Virgin America. -Part3plo2.png